@model IEnumerable<DemoMVCCep.Models.ConsultaCep>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Todos CEPs:</h1>

<table>
    <thead>
        <tr>
            <th>CEP</th>
            <th>Logradouro</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>UF</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Cep)</td>
            <td>@item.Logradouro</td>
            <td>@item.Bairro</td>
            <td>@item.Cidade</td>
            <td>@item.Estado</td>
        </tr>
    }
    </tbody>
</table>